.logo {
  font-family: eurof;
  font-size: 1.8em;
  font-weight: bold;
}

/* .logo.header {
  color: var(--clr-primary-8);
} 

.logo.footer {
  color: var(--clr-primary-1);
}

.logo span {
  color: var(--clr-secondary-1);
} */