.main-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #282c34;
  color: white;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.main-nav a {
color: white;
text-decoration: none;
font-weight: 500;
position: relative;
}

.main-nav a:hover {
  color: #58C93A;
}